<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--advancedsettings_HEADING-->
    <category label="Network">
        <!--network_HEADING-->
        <!--cachemembuffersize></cachemembuffersize-->
        <setting default="false" id='cachemembuffersizebool' label="Activate cachemembuffersize" type="bool"/>
        <setting default="0" id="cachemembuffersize" label="cachemembuffersize" type="number" enable="eq(-1,true)"/>
        <!--curlclienttimeout></curlclienttimeout-->
        <setting default="false" id="curlclienttimeoutbool" label="Activate curlclienttimeout" type="bool"/>
        <setting default="" id="curlclienttimeout" label="curlclienttimeout" type="number" enable="eq(-1,true)"/>
        <!--curllowspeedtime></curllowspeedtime-->
        <setting default="false" id="curllowspeedtimebool" label="Activate curllowspeedtime" type="bool"/>
        <setting default="" id="curllowspeedtime" label="curllowspeedtime" type="number" enable="eq(-1,true)"/>
        <!--readbufferfactor></readbufferfactor-->
        <setting default="false" id="readbufferfactorbool" label="Activate readbufferfactor" type="bool"/>
        <setting default="" id="readbufferfactor" label="readbufferfactor" type="number" enable="eq(-1,true)"/>
        <!--buffermode>0</buffermode-->
        <setting default="false" id="buffermodebool" label="Activate buffermode" type="bool"/>
        <setting default="0" id="buffermode" label="buffermode" type="slider" range="0,1,3" enable="eq(-1,true)"/>
        <!--httpproxyusername>0</httpproxyusername-->
        <setting default="false" id="httpproxyusernamebool" label="Activate httpproxyusername" type="bool"/>
        <setting default="" id="httpproxyusername" label="httpproxyusername" type="text" enable="eq(-1,true)"/>
        <!--httpproxypassword>0</httpproxypassword-->
        <setting default="false" id="httpproxypasswordbool" label="Activate httpproxypassword" type="bool"/>
        <setting default="" id="httpproxypassword" label="httpproxypassword" type="text" enable="eq(-1,true)"/>
        <!--/network_HEADING-->
    </category>
    <category label="video">
        <!--video_HEADING-->
        <!--subsdelayrange>10</subsdelayrange-->
        <setting default="false" id="subsdelayrangebool" label="Activate subsdelayrange" type="bool"/>
        <setting default="10" id="subsdelayrange" label="subsdelayrange" type="number" enable="eq(-1,true)"/>
        <!--audiodelayrange>10</audiodelayrange-->
        <setting default="false" id="audiodelayrangebool" label="Activate audiodelayrange" type="bool"/>
        <setting default="10" id="audiodelayrange" label="audiodelayrange" type="number" enable="eq(-1,true)"/>
        <!--smallstepbackseconds>7</smallstepbackseconds-->
        <setting default="false" id="smallstepbacksecondsbool" label="Activate smallstepbackseconds" type="bool"/>
        <setting default="7" id="smallstepbackseconds" label="smallstepbackseconds" type="number" enable="eq(-1,true)"/>
        <!--usetimeseeking>true</usetimeseeking-->
        <setting default="false" id="usetimeseekingbool" label="Activate usetimeseeking" type="bool"/>
        <setting default="true" id="usetimeseeking" label="usetimeseeking" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--timeseekforward>30</timeseekforward-->
        <setting default="false" id="timeseekforwardbool" label="Activate timeseekforward" type="bool"/>
        <setting default="30" id="timeseekforward" label="timeseekforward" type="number" enable="eq(-1,true)"/>
        <!--timeseekbackward>-30</timeseekbackward-->
        <setting default="false" id="timeseekbackwardbool" label="Activate timeseekbackward" type="bool"/>
        <setting default="-30" id="timeseekbackward" label="timeseekbackward" type="number" enable="eq(-1,true)"/>
        <!--timeseekforwardbig>600</timeseekforwardbig-->
        <setting default="false" id="timeseekforwardbigbool" label="Activate timeseekforwardbig" type="bool"/>
        <setting default="600" id="timeseekforwardbig" label="timeseekforwardbig" type="number" enable="eq(-1,true)"/>
        <!--timeseekbackwardbig>-600</timeseekbackwardbig-->
        <setting default="false" id="timeseekbackwardbigbool" label="Activate timeseekbackwardbig" type="bool"/>
        <setting default="-600" id="timeseekbackwardbig" label="timeseekbackwardbig" type="number" enable="eq(-1,true)"/>
        <!--percentseekforward>2</percentseekforward-->
        <setting default="false" id="percentseekforwardbool" label="Activate percentseekforward" type="bool"/>
        <setting default="2" id="percentseekforward" label="percentseekforward" type="number" enable="eq(-1,true)"/>
        <!--percentseekbackward>-2</percentseekbackward-->
        <setting default="false" id="percentseekbackwardbool" label="Activate percentseekbackward" type="bool"/>
        <setting default="-2" id="percentseekbackward" label="percentseekbackward" type="number" enable="eq(-1,true)"/>
        <!--percentseekforwardbig>10</percentseekforwardbig-->
        <setting default="false" id="percentseekforwardbigbool" label="Activate percentseekforwardbig" type="bool"/>
        <setting default="10" id="percentseekforwardbig" label="percentseekforwardbig" type="number" enable="eq(-1,true)"/>
        <!--percentseekbackwardbig>-10</percentseekbackwardbig-->
        <setting default="false" id="percentseekbackwardbigbool" label="Activate percentseekbackwardbig" type="bool"/>
        <setting default="-10" id="percentseekbackwardbig" label="percentseekbackwardbig" type="number" enable="eq(-1,true)"/>
        <!--blackbarcolour>1</blackbarcolour-->
        <setting default="false" id="blackbarcolourbool" label="Activate blackbarcolour" type="bool"/>
        <setting default="1" id="blackbarcolour" label="blackbarcolour" type="number" enable="eq(-1,true)"/>
        <!--fullscreenonmoviestart>true</fullscreenonmoviestart-->
        <setting default="false" id="fullscreenonmoviestartbool" label="Activate fullscreenonmoviestart" type="bool"/>
        <setting default="true" id="fullscreenonmoviestart" label="fullscreenonmoviestart" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--defaultplayer>dvdplayer</defaultplayer-->
        <setting default="false" id="defaultplayerbool" label="Activate defaultplayer" type="bool"/>
        <setting default="dvdplayer" id="defaultplayer" label="defaultplayer" lvalues="dvdplayer|extplayer" type="labelenum" enable="eq(-1,true)"/>
        <!--playcountminimumpercent>90</playcountminimumpercent-->
        <setting default="false" id="playcountminimumpercentbool" label="Activate playcountminimumpercent" type="bool"/>
        <setting default="90" id="playcountminimumpercent" label="playcountminimumpercent" type="number" enable="eq(-1,true)"/>
        <!--ignoresecondsatstart>180</ignoresecondsatstart-->
        <setting default="false" id="ignoresecondsatstartbool" label="Activate ignoresecondsatstart" type="bool"/>
        <setting default="180" id="ignoresecondsatstart" label="ignoresecondsatstart" type="number" enable="eq(-1,true)"/>
        <!--ignorepercentatend>8</ignorepercentatend-->
        <setting default="false" id="ignorepercentatendbool" label="Activate ignorepercentatend" type="bool"/>
        <setting default="8" id="ignorepercentatend" label="ignorepercentatend" type="number" enable="eq(-1,true)"/>
        <!--/video_HEADING-->
    </category>
    <category label="pvr">
        <!--pvr_HEADING-->
        <!--timecorrection>0</timecorrection-->
        <setting default="false" id="timecorrectionbool" label="Activate timecorrection" type="bool"/>
        <setting default="0" id="timecorrection" label="timecorrection" type="number" enable="eq(-1,true)"/>
        <!--infotoggleinterval>3000</infotoggleinterval-->
        <setting default="false" id="infotoggleintervalbool" label="Activate infotoggleinterval" type="bool"/>
        <setting default="3000" id="infotoggleinterval" label="infotoggleinterval" type="number" enable="eq(-1,true)"/>
        <!--minvideocachelevel>5</minvideocachelevel-->
        <setting default="false" id="minvideocachelevelbool" label="Activate minvideocachelevel" type="bool"/>
        <setting default="5" id="minvideocachelevel" label="minvideocachelevel" type="number" enable="eq(-1,true)"/>
        <!--maxvideocachelevel>10</maxvideocachelevel-->
        <setting default="false" id="maxvideocachelevelbool" label="Activate maxvideocachelevel" type="bool"/>
        <setting default="10" id="maxvideocachelevel" label="maxvideocachelevel" type="number" enable="eq(-1,true)"/>
        <!--cacheindvdplayer>true</cacheindvdplayer-->
        <setting default="false" id="cacheindvdplayerbool" label="Activate cacheindvdplayer" type="bool"/>
        <setting default="true" id="cacheindvdplayer" label="cacheindvdplayer" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--channeliconsautoscan>true</channeliconsautoscan-->
        <setting default="false" id="channeliconsautoscanbool" label="Activate channeliconsautoscan" type="bool"/>
        <setting default="true" id="channeliconsautoscan" label="channeliconsautoscan" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--autoscaniconsuserset>false</autoscaniconsuserset-->
        <setting default="false" id="autoscaniconsusersetbool" label="Activate autoscaniconsuserset" type="bool"/>
        <setting default="false" id="autoscaniconsuserset" label="autoscaniconsuserset" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--numericchannelswitchtimeout>1000</numericchannelswitchtimeout-->
        <setting default="false" id="numericchannelswitchtimeoutbool" label="Activate numericchannelswitchtimeout" type="bool"/>
        <setting default="1000" id="numericchannelswitchtimeout" label="numericchannelswitchtimeout" type="number" enable="eq(-1,true)"/>
        <!--/pvr_HEADING-->
    </category>
    <category label="epg">
        <!--epg_HEADING-->
        <!--lingertime>1440</lingertime-->
        <setting default="false" id="lingertimebool" label="Activate lingertime" type="bool"/>
        <setting default="1440" id="lingertime" label="lingertime" type="number" enable="eq(-1,true)"/>
        <!--updatecheckinterval>300</updatecheckinterval-->
        <setting default="false" id="updatecheckintervalbool" label="Activate updatecheckinterval" type="bool"/>
        <setting default="300" id="updatecheckinterval" label="updatecheckinterval" type="number" enable="eq(-1,true)"/>
        <!--lingercleanupintervaltime>900</cleanupinterval-->
        <setting default="false" id="lingercleanupintervaltimebool" label="Activate lingercleanupintervaltime" type="bool"/>
        <setting default="900" id="lingercleanupintervaltime" label="lingercleanupintervaltime" type="number" enable="eq(-1,true)"/>
        <!--activetagcheckinterval>60</activetagcheckinterval-->
        <setting default="false" id="activetagcheckintervalbool" label="Activate activetagcheckinterval" type="bool"/>
        <setting default="60" id="activetagcheckinterval" label="activetagcheckinterval" type="number" enable="eq(-1,true)"/>
        <!--retryinterruptedupdateinterval>30</retryinterruptedupdateinterval-->
        <setting default="false" id="retryinterruptedupdateintervalbool" label="Activate retryinterruptedupdateinterval" type="bool"/>
        <setting default="30" id="retryinterruptedupdateinterval" label="retryinterruptedupdateinterval" type="number" enable="eq(-1,true)"/>
        <!--updateemptytagsinterval>60</updateemptytagsinterval-->
        <setting default="false" id="updateemptytagsintervalbool" label="Activate updateemptytagsinterval" type="bool"/>
        <setting default="60" id="updateemptytagsinterval" label="updateemptytagsinterval" type="number" enable="eq(-1,true)"/>
        <!--displayupdatepopup>true</displayupdatepopup-->
        <setting default="false" id="displayupdatepopupbool" label="Activate displayupdatepopup" type="bool"/>
        <setting default="true" id="displayupdatepopup" label="displayupdatepopup" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--displayincrementalupdatepopup>false</displayincrementalupdatepopup-->
        <setting default="false" id="displayincrementalupdatepopupbool" label="Activate displayincrementalupdatepopup" type="bool"/>
        <setting default="false" id="displayincrementalupdatepopup" label="displayincrementalupdatepopup" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--/epg_HEADING-->
    </category>
    <category label="edl">
        <!--edl_HEADING-->
        <!--mergeshortcommbreaks>false</mergeshortcommbreaks-->
        <setting default="false" id="mergeshortcommbreaksbool" label="Activate mergeshortcommbreaks" type="bool"/>
        <setting default="false" id="mergeshortcommbreaks" label="mergeshortcommbreaks" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--maxcommbreaklength>250</maxcommbreaklength-->
        <setting default="false" id="maxcommbreaklengthbool" label="Activate maxcommbreaklength" type="bool"/>
        <setting default="250" id="maxcommbreaklength" label="maxcommbreaklength" type="number" enable="eq(-1,true)"/>
        <!--mincommbreaklength>90</mincommbreaklength-->
        <setting default="false" id="mincommbreaklengthbool" label="Activate mincommbreaklength" type="bool"/>
        <setting default="90" id="mincommbreaklength" label="mincommbreaklength" type="number" enable="eq(-1,true)"/>
        <!--maxcommbreakgap>120</maxcommbreakgap-->
        <setting default="false" id="maxcommbreakgapbool" label="Activate maxcommbreakgap" type="bool"/>
        <setting default="120" id="maxcommbreakgap" label="maxcommbreakgap" type="number" enable="eq(-1,true)"/>
        <!--commbreakautowait>0</commbreakautowait-->
        <setting default="false" id="commbreakautowaitbool" label="Activate commbreakautowait" type="bool"/>
        <setting default="0" id="commbreakautowait" label="commbreakautowait" type="number" enable="eq(-1,true)"/>
        <!--commbreakautowind>0</commbreakautowind-->
        <setting default="false" id="commbreakautowindbool" label="Activate commbreakautowind" type="bool"/>
        <setting default="0" id="commbreakautowind" label="commbreakautowind" type="number" enable="eq(-1,true)"/>
        <!--/edl_HEADING-->
    </category>
    <category label="videolibrary">
        <!--videolibrary_HEADING-->
        <!--allitemsonbottom>false</allitemsonbottom-->
        <setting default="false" id="allitemsonbottombool" label="Activate allitemsonbottom" type="bool"/>
        <setting default="false" id="allitemsonbottom" label="allitemsonbottom" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--backgroundupdate>false</backgroundupdate-->
        <setting default="false" id="backgroundupdatebool" label="Activate backgroundupdate" type="bool"/>
        <setting default="false" id="backgroundupdate" label="backgroundupdate" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--cleanonupdate>false</cleanonupdate-->
        <setting default="false" id="cleanonupdatebool" label="Activate cleanonupdate" type="bool"/>
        <setting default="false" id="cleanonupdate" label="cleanonupdate" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--hideallitems>false</hideallitems-->
        <setting default="false" id="hideallitemsbool" label="Activate hideallitems" type="bool"/>
        <setting default="false" id="hideallitems" label="hideallitems" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--hideemptyseries>false</hideemptyseries-->
        <setting default="false" id="hideemptyseriesbool" label="Activate hideemptyseries" type="bool"/>
        <setting default="false" id="hideemptyseries" label="hideemptyseries" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--hiderecentlyaddeditems>false</hiderecentlyaddeditems-->
        <setting default="false" id="hiderecentlyaddeditemsbool" label="Activate hiderecentlyaddeditems" type="bool"/>
        <setting default="false" id="hiderecentlyaddeditems" label="hiderecentlyaddeditems" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--recentlyaddeditems>25</recentlyaddeditems-->
        <setting default="false" id="recentlyaddeditemsbool" label="Activate recentlyaddeditems" type="bool"/>
        <setting default="25" id="recentlyaddeditems" label="recentlyaddeditems" type="number" enable="eq(-1,true)"/>
        <!--itemseparator>/ </itemseparator-->
        <setting default="false" id="itemseparatorbool" label="Activate itemseparator" type="bool"/>
        <setting default=" / " id="itemseparator" label="itemseparator" type="text" enable="eq(-1,true)"/>
        <!--exportautothumbs>false</exportautothumbs-->
        <setting default="false" id="exportautothumbsbool" label="Activate exportautothumbs" type="bool"/>
        <setting default="false" id="exportautothumbs" label="exportautothumbs" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--importwatchedstate>false</importwatchedstate-->
        <setting default="false" id="importwatchedstatebool" label="Activate importwatchedstate" type="bool"/>
        <setting default="false" id="importwatchedstate" label="importwatchedstate" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--importresumepoint>false</importresumepoint-->
        <setting default="false" id="importresumepointbool" label="Activate importresumepoint" type="bool"/>
        <setting default="false" id="importresumepoint" label="importresumepoint" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--dateadded>1</dateadded-->
        <setting default="false" id="dateaddedbool" label="Activate dateadded" type="bool"/>
        <setting default="false" id="dateadded" label="dateadded" lvalues="0|1|2" type="labelenum" enable="eq(-1,true)"/>
        <!--/videolibrary_HEADING-->
    </category>
    <category label="videoscanner">
        <!--videoscanner_HEADING-->
        <!--ignoreerrors>true</ignoreerrors-->
        <setting default="false" id="ignoreerrorsbool" label="Activate ignoreerrors" type="bool"/>
        <setting default="true" id="ignoreerrors" label="ignoreerrors" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--/videoscanner_HEADING-->
    </category>
    <category label="singletons">
        <!--imageres>720</imageres-->
        <setting default="false" id="imageresbool" label="Activate imageres" type="bool"/>
        <setting default="720" id="imageres" label="imageres" type="number" enable="eq(-1,true)"/>
        <!--fanartres>1080</fanartres-->
        <setting default="false" id="fanartresbool" label="Activate fanartres" type="bool"/>
        <setting default="1080" id="fanartres" label="fanartres" type="number" enable="eq(-1,true)"/>
        <!--useddsfanart>true</useddsfanart-->
        <setting default="false" id="useddsfanartbool" label="Activate useddsfanart" type="bool"/>
        <setting default="true" id="useddsfanart" label="useddsfanart" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--playlistretries>100</playlistretries-->
        <setting default="false" id="playlistretriesbool" label="Activate playlistretries" type="bool"/>
        <setting default="100" id="playlistretries" label="playlistretries" type="number" enable="eq(-1,true)"/>
        <!--playlisttimeout>20</playlisttimeout-->
        <setting default="false" id="playlisttimeoutbool" label="Activate playlisttimeout" type="bool"/>
        <setting default="20" id="playlisttimeout" label="playlisttimeout" type="number" enable="eq(-1,true)"/>
        <!--packagefoldersize>200</packagefoldersize-->
        <setting default="false" id="packagefoldersizebool" label="Activate packagefoldersize" type="bool"/>
        <setting default="200" id="packagefoldersize" label="packagefoldersize" type="number" enable="eq(-1,true)"/>
        <!--remotedelay>10</remotedelay-->
        <setting default="false" id="remotedelaybool" label="Activate remotedelay" type="bool"/>
        <setting default="10" id="remotedelay" label="remotedelay" type="number" enable="eq(-1,true)"/>
        <!--remoterepeat>800</remoterepeat-->
        <setting default="false" id="remoterepeatbool" label="Activate remoterepeat" type="bool"/>
        <setting default="800" id="remoterepeat" label="remoterepeat" type="number" enable="eq(-1,true)"/>
        <!--controllerdeadzone>0.2</controllerdeadzone-->
        <setting default="false" id="controllerdeadzonebool" label="Activate controllerdeadzone" type="bool"/>
        <setting default="0.2" id="controllerdeadzone" label="controllerdeadzone" type="number" enable="eq(-1,true)"/>
        <!--enablemultimediakeys>true</enablemultimediakeys-->
        <setting default="false" id="enablemultimediakeysbool" label="Activate enablemultimediakeys" type="bool"/>
        <setting default="true" id="enablemultimediakeys" label="enablemultimediakeys" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--showexitbutton>false</showexitbutton-->
        <setting default="false" id="showexitbuttonbool" label="Activate showexitbutton" type="bool"/>
        <setting default="false" id="showexitbutton" label="showexitbutton" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--fullscreen>false</fullscreen-->
        <setting default="false" id="fullscreenbool" label="Activate fullscreen" type="bool"/>
        <setting default="false" id="fullscreen" label="fullscreen" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--splash>false</splash-->
        <setting default="false" id="splashbool" label="Activate splash" type="bool"/>
        <setting default="false" id="splash" label="splash" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--alwaysontop>yes</alwaysontop-->
        <setting default="false" id="alwaysontopbool" label="Activate alwaysontop" type="bool"/>
        <setting default="yes" id="alwaysontop" label="alwaysontop" lvalues="yes|no" type="labelenum" enable="eq(-1,true)"/>
    </category>
    <category label="karaoke">
        <!--karaoke_HEADING-->
        <!--syncdelaycdg>0.0</syncdelaycdg-->
        <setting default="false" id="syncdelaycdgbool" label="Activate syncdelaycdg" type="bool"/>
        <setting default="0.0" id="syncdelaycdg" label="syncdelaycdg" type="number" enable="eq(-1,true)"/>
        <!--syncdelaylrc>0.0</syncdelaylrc-->
        <setting default="false" id="syncdelaylrcbool" label="Activate syncdelaylrc" type="bool"/>
        <setting default="0.0" id="syncdelaylrc" label="syncdelaylrc" type="number" enable="eq(-1,true)"/>
        <!--alwaysreplacegenre>false</alwaysreplacegenre-->
        <setting default="false" id="alwaysreplacegenrebool" label="Activate alwaysreplacegenre" type="bool"/>
        <setting default="false" id="alwaysreplacegenre" label="alwaysreplacegenre" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--storedelay>true</storedelay-->
        <setting default="false" id="storedelaybool" label="Activate storedelay" type="bool"/>
        <setting default="true" id="storedelay" label="storedelay" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--autoassignstartfrom>1</autoassignstartfrom-->
        <setting default="false" id="autoassignstartfrombool" label="Activate autoassignstartfrom" type="bool"/>
        <setting default="1" id="autoassignstartfrom" label="autoassignstartfrom" type="number" enable="eq(-1,true)"/>
        <!--nocdgbackground>true</nocdgbackground-->
        <setting default="false" id="nocdgbackgroundbool" label="Activate nocdgbackground" type="bool"/>
        <setting default="true" id="nocdgbackground" label="nocdgbackground" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--nextsongpopuptime>0.0</nextsongpopuptime-->
        <setting default="false" id="nextsongpopuptimebool" label="Activate nextsongpopuptime" type="bool"/>
        <setting default="0.0" id="nextsongpopuptime" label="nextsongpopuptime" type="number" enable="eq(-1,true)"/>
        <!--/karaoke_HEADING-->
    </category>
    <category label="slideshow">
        <!--slideshow_HEADING-->
        <!--panamount>2.5</panamount-->
        <setting default="false" id="panamountbool" label="Activate panamount" type="bool"/>
        <setting default="2.5" id="panamount" label="panamount" type="number" enable="eq(-1,true)"/>
        <!--zoomamount>5.0</zoomamount-->
        <setting default="false" id="zoomamountbool" label="Activate zoomamount" type="bool"/>
        <setting default="5.0" id="zoomamount" label="zoomamount" type="number" enable="eq(-1,true)"/>
        <!--blackbarcompensation>20</blackbarcompensation-->
        <setting default="false" id="blackbarcompensationbool" label="Activate blackbarcompensation" type="bool"/>
        <setting default="20" id="blackbarcompensation" label="blackbarcompensation" type="number" enable="eq(-1,true)"/>
        <!--/slideshow_HEADING-->
    </category>
    <category label="tuxbox">
        <!--tuxbox_HEADING-->
        <!--audiochannelselection>false</audiochannelselection-->
        <setting default="false" id="audiochannelselectionbool" label="Activate audiochannelselection" type="bool"/>
        <setting default="true" id="audiochannelselection" label="audiochannelselection" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--submenuselection>false</submenuselection-->
        <setting default="false" id="submenuselectionbool" label="Activate submenuselection" type="bool"/>
        <setting default="true" id="submenuselection" label="submenuselection" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--defaultrootmenu>0</defaultrootmenu-->
        <setting default="false" id="defaultrootmenubool" label="Activate defaultrootmenu" type="bool"/>
        <setting default="true" id="defaultrootmenu" label="defaultrootmenu" range="1,1,4" type="slider" enable="eq(-1,true)"/>
        <!--defaultsubmenu>4</defaultsubmenu-->
        <setting default="false" id="defaultsubmenubool" label="Activate defaultsubmenu" type="bool"/>
        <setting default="true" id="defaultsubmenu" label="defaultsubmenu" range="1,1,4" type="slider" enable="eq(-1,true)"/>
        <!--pictureicon>true</pictureicon-->
        <setting default="false" id="pictureiconbool" label="Activate pictureicon" type="bool"/>
        <setting default="true" id="pictureicon" label="pictureicon" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--epgrequesttime>10</epgrequesttime-->
        <setting default="false" id="epgrequesttimebool" label="Activate epgrequesttime" type="bool"/>
        <setting default="10" id="epgrequesttime" label="epgrequesttime" type="number" enable="eq(-1,true)"/>
        <!--zapwaittime>0</zapwaittime-->
        <setting default="false" id="zapwaittimebool" label="Activate zapwaittime" type="bool"/>
        <setting default="0" id="zapwaittime" label="zapwaittime" type="number" enable="eq(-1,true)"/>
        <!--/tuxbox_HEADING-->
    </category>
    <category label="window">
        <!--window_HEADING-->
        <!--width>1280</width-->
        <setting default="false" id="widthbool" label="Activate width" type="bool"/>
        <setting default="1280" id="width" label="width" type="number" enable="eq(-1,true)"/>
        <!--height>720</height-->
        <setting default="false" id="heightbool" label="Activate height" type="bool"/>
        <setting default="720" id="height" label="height" type="number" enable="eq(-1,true)"/>
        <!--/window_HEADING-->
    </category>
    <category label="masterlock">
        <!--masterlock_HEADING-->
        <!--startuplock>false</startuplock-->
        <setting default="false" id="startuplockbool" label="Activate startuplock" type="bool"/>
        <setting default="false" id="startuplock" label="startuplock" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--automastermode>false</automastermode-->
        <setting default="false" id="automastermodebool" label="Activate automastermode" type="bool"/>
        <setting default="false" id="automastermode" label="automastermode" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--loginlock>true</loginlock-->
        <setting default="false" id="loginlockbool" label="Activate loginlock" type="bool"/>
        <setting default="true" id="loginlock" label="loginlock" lvalues="true|false" type="labelenum" enable="eq(-1,true)"/>
        <!--maxretries>3</maxretries-->
        <setting default="false" id="maxretriesbool" label="Activate maxretries" type="bool"/>
        <setting default="3" id="maxretries" label="maxretries" type="number" enable="eq(-1,true)"/>
        <!--/masterlock_HEADING-->
    </category>
    <!--/advancedsettings_HEADING-->
</settings>
